/* Regras utilitárias e overrides */
.hidden {
  display: none !important;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.mt-1 {
  margin-top: var(--base-spacing);
}

.mb-1 {
  margin-bottom: var(--base-spacing);
}